APP_ID = {app_id}

KEY_PHRASE_BYTES = {key_phrase}

DB_CONNECTION = {
    'host': 'localhost',
    'port': 5432,
    'user': '{username}',
    'password': '{password}',
    'database': 'passmeta',
    'command_timeout': 30
}
