[Unit]
Description=EntrantServerApplication
[Service]
Type=simple
ExecStart={server_dir}/env/bin/python -m gunicorn --config {server_dir}/Gun/service/config/autoload.py
[Install]
WantedBy=multi-user.target