[ req ]
distinguished_name          = req_distinguished_name
prompt                      = no

[ req_distinguished_name ]
countryName                 = {country_code}
stateOrProvinceName         = None
localityName                = None
0.organizationName          = Passmeta Ltd
organizationalUnitName      = Communication Department
commonName                  = {host}
emailAddress                = None