#!/bin/bash

if [[ $(systemctl list-units --all -t service --full --no-legend "{gun_service_name}.service" | cut -f1 -d' ') == {gun_service_name}.service ]]; then
    sudo systemctl stop {gun_service_name}
    sudo systemctl disable {gun_service_name}
fi

sudo {dir}/env/bin/python -m gunicorn --config {dir}/Gun/config/manual.py